@model BusViewModel
@{
    ViewBag.Title = "CreateBus";
}

<form action="@Url.Action("CreateBus", "Home")" method="post" class="1" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div>
        <table class="table-one">
            <tr>
                <td>Create a bus</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Brand)*</td>
                <td>@Html.DropDownListFor(x => x.Brand, new SelectList(CarMarket.Web.Models.BusModel.Brand.BrandList, "Key", "Value"), "-----", new { id = "brandBus" })</td>
                <td>@Html.ValidationMessage("Brand")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Model)*</td>
                <td>@Html.DropDownListFor(x => x.Model, new SelectList(CarMarket.Web.Models.BusModel.Model.ModelList, "Key", "Value"), "--------", new { id = "modelBus" })</td>
                <td>@Html.ValidationMessage("Model")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Modification)</td>
                <td>@Html.TextBoxFor(x => x.Modification)</td>
                <td>@Html.ValidationMessage("Modification")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Type)*</td>
                <td>@Html.DropDownListFor(x => x.Type, new SelectList(CarMarket.Web.Models.BusModel.Type.TypeList, "Key", "Value"), "--------")</td>
                <td>@Html.ValidationMessage("Type")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Price)*</td>
                <td> @Html.TextBoxFor(x => x.Price)</td>
                <td>@Html.ValidationMessage("Price")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Gear)*</td>
                <td>@Html.DropDownListFor(x => x.Gear, new SelectList(CarMarket.Web.Models.MachineModel.Gear.GearList, "Key", "Value"), "----")</td>
                <td>@Html.ValidationMessage("Gear")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Fuel)*</td>
                <td>@Html.DropDownListFor(x => x.Fuel, new SelectList(CarMarket.Web.Models.MachineModel.Fuel.FuelList, "Key", "Value"), "-----")</td>
                <td>@Html.ValidationMessage("Fuel")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.HorsePower)</td>
                <td>@Html.TextBoxFor(x => x.HorsePower)</td>
                <td>@Html.ValidationMessage("HorsePower")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Cubage)</td>
                <td>@Html.TextBoxFor(x => x.Cubage)</td>
                <td>@Html.ValidationMessage("Cubage")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Cargo)*</td>
                <td>@Html.TextBoxFor(x => x.Cargo)</td>
                <td>@Html.ValidationMessage("Cargo")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x =>x.Months)</td>
                <td>@Html.DropDownListFor(x => x.Months, new SelectList(CarMarket.Web.Models.MachineModel.Months.MonthsList, "Key", "Value"), "-------")</td>
                <td>@Html.ValidationMessage("Months")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Years)</td>
                <td>@Html.DropDownListFor(x => x.Years, new SelectList(CarMarket.Web.Models.MachineModel.Years.YearsList, "Key", "Value"), "-----")</td>
                <td>@Html.ValidationMessage("Years")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.NumberOfSeats)*</td>
                <td>@Html.TextBoxFor(x => x.NumberOfSeats)</td>
                <td>@Html.ValidationMessage("NumberOfSeats")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Km)*</td>
                <td>@Html.TextBoxFor(x => x.Km)</td>
                <td>@Html.ValidationMessage("Km")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.NumberOfDoors)*</td>
                <td>@Html.DropDownListFor(x => x.NumberOfDoors, new SelectList(CarMarket.Web.Models.MachineModel.NumberOfDoors.DoorList, "Key", "Value"), "-----")</td>
                <td>@Html.ValidationMessage("NumberOfDoors")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Color)*</td>
                <td> @Html.DropDownListFor(x => x.Color, new SelectList(CarMarket.Web.Models.MachineModel.Color.ColorList, "Key", "Value"), "--------")</td>
                <td>@Html.ValidationMessage("Color")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.EuroStandart)*</td>
                <td>@Html.DropDownListFor(x => x.EuroStandart, new SelectList(CarMarket.Web.Models.MachineModel.EuroStandart.EuroList, "Key", "Value"), "-----")</td>
                <td>@Html.ValidationMessage("EuroStandart")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.MoreInformation)</td>
                <td>@Html.TextAreaFor(x => x.MoreInformation)</td>
                <td>@Html.ValidationMessage("MoreInformation")</td>
            </tr>
        </table>
    </div>
    <div>
        <table class="table-two">
            <tr>
                <td>More stuff</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.AirConditioning)</td>
                <td>@Html.CheckBoxFor(x => x.AirConditioning)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.JustClimate)</td>
                <td>@Html.CheckBoxFor(x => x.JustClimate)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.LeatherSeats)</td>
                <td>@Html.CheckBoxFor(x => x.LeatherSeats)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.PowerWindows)</td>
                <td>@Html.CheckBoxFor(x => x.PowerWindows)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.ElectricMirrors)</td>
                <td>@Html.CheckBoxFor(x => x.ElectricMirrors)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.PowerSeats)</td>
                <td>@Html.CheckBoxFor(x => x.PowerSeats)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.HeatedSeats)</td>
                <td>@Html.CheckBoxFor(x => x.HeatedSeats)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Sunroof)</td>
                <td>@Html.CheckBoxFor(x => x.Sunroof)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Stereo)</td>
                <td>@Html.CheckBoxFor(x => x.Stereo)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.AlloyWheels)</td>
                <td>@Html.CheckBoxFor(x => x.AlloyWheels)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Dvd)</td>
                <td>@Html.CheckBoxFor(x => x.Dvd)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.MultifunctionalSteeringWheel)</td>
                <td>@Html.CheckBoxFor(x => x.MultifunctionalSteeringWheel)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.FourXFour)</td>
                <td>@Html.CheckBoxFor(x => x.FourXFour)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Abs)</td>
                <td>@Html.CheckBoxFor(x => x.Abs)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Esp)</td>
                <td>@Html.CheckBoxFor(x => x.Esp)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Airbag)</td>
                <td>@Html.CheckBoxFor(x => x.Airbag)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.XenonLights)</td>
                <td>@Html.CheckBoxFor(x => x.XenonLights)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.HalogenHeadlights)</td>
                <td>@Html.CheckBoxFor(x => x.HalogenHeadlights)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Asr)</td>
                <td>@Html.CheckBoxFor(x => x.Asr)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Parktronic)</td>
                <td>@Html.CheckBoxFor(x => x.Parktronic)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Alarm)</td>
                <td>@Html.CheckBoxFor(x => x.Alarm)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Immobilizer)</td>
                <td>@Html.CheckBoxFor(x => x.Immobilizer)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.CentralLocking)</td>
                <td>@Html.CheckBoxFor(x => x.CentralLocking)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Insurance)</td>
                <td>@Html.CheckBoxFor(x => x.Insurance)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Armored)</td>
                <td>@Html.CheckBoxFor(x => x.Armored)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.StartStopSystem)</td>
                <td>@Html.CheckBoxFor(x => x.StartStopSystem)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.KeylessIgnition)</td>
                <td>@Html.CheckBoxFor(x => x.KeylessIgnition)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Tiptronic)</td>
                <td>@Html.CheckBoxFor(x => x.Tiptronic)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Autopilot)</td>
                <td>@Html.CheckBoxFor(x => x.Autopilot)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.PowerSteering)</td>
                <td>@Html.CheckBoxFor(x => x.PowerSteering)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.TripComputer)</td>
                <td>@Html.CheckBoxFor(x => x.TripComputer)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.ServiceBook)</td>
                <td>@Html.CheckBoxFor(x => x.ServiceBook)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Guaranty)</td>
                <td>@Html.CheckBoxFor(x => x.Guaranty)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.NavigationSystem)</td>
                <td>@Html.CheckBoxFor(x => x.NavigationSystem)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Tuning)</td>
                <td>@Html.CheckBoxFor(x => x.Tuning)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.PanoramicRoof)</td>
                <td>@Html.CheckBoxFor(x => x.PanoramicRoof)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Taxi)</td>
                <td>@Html.CheckBoxFor(x => x.Taxi)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Retro)</td>
                <td>@Html.CheckBoxFor(x => x.Retro)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Rod)</td>
                <td>@Html.CheckBoxFor(x => x.Rod)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Places)</td>
                <td>@Html.CheckBoxFor(x => x.Places)</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Refrigerated)</td>
                <td>@Html.CheckBoxFor(x => x.Refrigerated)</td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr>
                <td>Images</td>
                <td><input type="file" name="files" /></td>
            </tr>
            <tr>
                <td><button type="submit" name="button" value="@MachineryTypeEnum.Bus">Create</button></td>
            </tr>
        </table>
    </div>
</form>

<script>
    $('#modelBus').empty();
    $('#modelBus').append('<option value="">---  ---</option>');

    $('#brandBus').change(function () {
        var idarea = $('#brandBus :selected').val();
        idarea = (idarea == "" ? 0 : idarea);

        if (idarea == "") {
            $('#modelBus').empty();
            $('#modelBus').append('<option value="">---  ---</option>');
            return;
        }
        $.ajax({
            type: 'POST',
            url: '/Home/GetBusesModel/',
            data: "{'ValueOfModel':'" + idarea + "'}",
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (data) {
            if (data != null) {
                $('#modelBus').empty();
                $('#modelBus').append('<option value="">---  ---</option>');
                $.each(data, function (index, data) {
                    $('#modelBus').append('<option value=' + index + '>' + data + '</option>');

                });
            }
        }).fail(function (response) {
            if (response.status != 0) {
                alert(response.status + " " + response.statusText);
            }
        });
    });
</script>