@model ConstructionViewModel
@{
    ViewBag.Title = "CreateConstruction";
}

<form action="@Url.Action("CreateConstruction", "Home")" method="post" class="6" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <div>
        <table class="table-one">
            <tr>
                <td>Create a construction</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Type)</td>
                <td>@Html.DropDownListFor(x => x.Type, new SelectList(CarMarket.Web.Models.ConstructionEquipmentModel.Type.TypeList, "Key", "Value"), "-----")</td>
                <td>@Html.ValidationMessage("Type")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Brand)*</td>
                <td>@Html.TextBoxFor(x => x.Brand)</td>
                <td>@Html.ValidationMessage("Brand")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Model)*</td>
                <td>@Html.TextBoxFor(x => x.Model)</td>
                <td>@Html.ValidationMessage("Model")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Modification)*</td>
                <td>@Html.TextBoxFor(x => x.Modification)</td>
                <td>@Html.ValidationMessage("Modification")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Price)</td>
                <td>@Html.TextBoxFor(x => x.Price)</td>
                <td>@Html.ValidationMessage("Price")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Km)</td>
                <td>@Html.TextBoxFor(x => x.Km)</td>
                <td>@Html.ValidationMessage("Km")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Months)</td>
                <td>@Html.DropDownListFor(x => x.Months, new SelectList(CarMarket.Web.Models.MachineModel.Months.MonthsList, "Key", "Value"), "-------")</td>
                <td>@Html.ValidationMessage("Months")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Years)</td>
                <td>@Html.DropDownListFor(x => x.Years, new SelectList(CarMarket.Web.Models.MachineModel.Years.YearsList, "Key", "Value"), "-----")</td>
                <td>@Html.ValidationMessage("Years")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Fuel)</td>
                <td>@Html.DropDownListFor(x => x.Fuel, new SelectList(CarMarket.Web.Models.MachineModel.Fuel.FuelList, "Key", "Value"), "-------")</td>
                <td>@Html.ValidationMessage("Fuel")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.HorsePower)</td>
                <td>@Html.TextBoxFor(x => x.HorsePower)</td>
                <td>@Html.ValidationMessage("HorsePower")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.HoursOfOperation)</td>
                <td>@Html.TextBoxFor(x => x.HoursOfOperation)</td>
                <td>@Html.ValidationMessage("HoursOfOperation")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Displacement)</td>
                <td>@Html.TextBoxFor(x => x.Displacement)</td>
                <td>@Html.ValidationMessage("Displacement")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.CarryingCapacity)</td>
                <td>@Html.TextBoxFor(x => x.CarryingCapacity)</td>
                <td>@Html.ValidationMessage("CarryingCapacity")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.WorkingHeight)</td>
                <td>@Html.TextBoxFor(x => x.WorkingHeight)</td>
                <td>@Html.ValidationMessage("WorkingHeight")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Axle)</td>
                <td>@Html.DropDownListFor(x => x.Axle, new SelectList(CarMarket.Web.Models.TruckModel.Axles.AxlesList, "Key", "Value"), "-------")</td>
                <td>@Html.ValidationMessage("Axle")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.Operation)</td>
                <td>@Html.DropDownListFor(x => x.Operation, new SelectList(CarMarket.Web.Models.ConstructionEquipmentModel.Operation.OperationList, "Key", "Value"), "----")</td>
                <td>@Html.ValidationMessage("Operation")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.TotalWeight)</td>
                <td>@Html.TextBoxFor(x => x.TotalWeight)</td>
                <td>@Html.ValidationMessage("TotalWeight")</td>
            </tr>
            <tr>
                <td>@Html.LabelFor(x => x.MoreInformation)</td>
                <td>@Html.TextBoxFor(x => x.MoreInformation)</td>
                <td>@Html.ValidationMessage("MoreInformation")</td>
            </tr>
        </table>
    </div>
    <div>
        <table>
            <tr>
                <td>Images</td>
                <td><input type="file" name="files" /></td>
            </tr>
            <tr>
                <td><button type="submit" name="button" value="@MachineryTypeEnum.Construction">Create</button></td>
            </tr>
        </table>
    </div>
</form>